<center>

  <h1><%= @test.title%> Test</h1>
  <table border='1'>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Tag</th>
      <th>Timer</th>
      <th></th>
    </tr>
    <tr>
      <td><%= @test.title %></td>
      <td><%= @test.level %></td>
      <td><%= @test.category.body %></td>
      <td><% if @test.timer_value == 0 %>
            <%= 'None' %>
          <% else %>
            <%= @test.timer_value %>
          <% end %>
      </td>
      <td><%= button_to 'Start', start_test_path(@test) %></td>
    </tr>
  </table>

  <h2>Questions list</h2>

  <%= render @test.questions %>

  <h2>
    <%= link_to 'Back', tests_path%> 
  </h2>

</center>
